name: C/C++ CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: arm-none-eabi-gcc
      uses: fiam/arm-none-eabi-gcc@v1
      with:
        release: '9-2019-q4'
    - name: make
      run: make
    - name: Archive production artifacts
      uses: actions/upload-artifact@v1
      with:
        name: bort2.elf
        path: build
